$font-family: 'Muli', sans-serif;
$font-size-large: 2em;
$font-size-normal: 1em;
$font-size-small: 0.8em;


$header-background-color: #2f2f46;
$header-text-color: white;


$default-button-color: #645a3d;
$default-button-text-color: $header-text-color;