header h1 {
	background-color: $header-background-color;
	color: $header-text-color;
	font-size: $font-size-small;
	letter-spacing: 0.2em;
	padding-top: 1em;
	padding-left: 3em;
	margin: 0;
	height: 30px;
}