<form ng-submit="sendForm()">
    <fieldset>
        <legend>Contact:</legend>
        <div>
            <label for="name">Your Name:</label>
            <input id="name" type="text" required ng-model="contact.name" placeholder="Your Name" />
        </div>
        <div>
            <label for="email">Your Email Address:</label>
            <input id="email" type="email" required ng-model="contact.email" placeholder="youraddress@email.com"/>
        </div>
        <div>
            <label for="tel">Telephone Number</label>
            <input id="tel" type="tel" ng-model="contact.telephone" placeholder="00000 000000" />
        </div>
        <div>
            <label for="enquiry">Your Enquiry:</label>
            <textarea id="enquiry" ng-model="contact.enquiry" placeholder="Your enquiry" ></textarea>
        </div>
    </fieldset>
    <input type="submit" value="Submit" />
</form>